fastapi
uvicorn
pydantic
python-dotenv
requests
google-genai
google-generativeai
chromadb
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-chroma
rank-bm25
streamlit
python-multipart
pypdf
SQLAlchemy
psycopg2-binary
pydantic-settings
email-validator
supabase
passlib
